<%- include("partials/header.ejs") %>

<div style="display: flex">
  <div class="left">
    <h1>Create a new blog</h1>
    <form action="/submit" method="POST">
      <h2>Enter title:</h2>
      <input type="text" name="title" class="inpts"/>
      <br />
      <h2>Write your blog:</h2>
      <textarea name="blog" rows="15" class="inpts"></textarea>
      <br />
      <input type="submit" value="Submit" class="btn"/>
    </form>
  </div>

  <div class="right">
    <h1>Your Blogs</h1>
    <% if(locals.titles && locals.blogs) { %>
        <% for(let i=0; i<titles.length; i++){ %>
            <div class="blog">
            <h2><%= titles[i] %></h2>
            
            <h3><%= blogs[i] %></h3>
            <div style="display: flex; gap: 20px;">
            <form action="/blogs/<%= i %>?_method=DELETE" method="POST">
                <button type="submit" class="btn">Delete</button>
            </form>
            <form action="/edit?_method=GET" method="POST">
                <button type="submit" name="<%= i %>" class="btn">Edit</button>
            </form>
        </div>
        </div>
            <!-- <button onclick="location.href='/edit'" name="">Edit</button> -->
        <% } %>
    <% } else { %>
    <h2>Nothing to show</h2>
    <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>
